In [0]:
# import pandas
import pandas as pd

# load train and test as dataframes
train_df = pd.read_csv("train.csv",error_bad_lines=False)
test_df = pd.read_csv("test.csv",error_bad_lines=False)

In [0]:
train_df.isnull().any()

# New Section

In [0]:
# import display function from ipython
from IPython.display import display, HTML

# display the first rows of each dataset
display(train_df.head())
print "train shape: {}".format(train_df.shape)
display(test_df.head())
print "test shape: {}".format(test_df.shape)

                 Dates        Category  ...           X          Y
0  2015-05-13 23:53:00        WARRANTS  ... -122.425892  37.774599
1  2015-05-13 23:53:00  OTHER OFFENSES  ... -122.425892  37.774599
2  2015-05-13 23:33:00  OTHER OFFENSES  ... -122.424363  37.800414
3  2015-05-13 23:30:00   LARCENY/THEFT  ... -122.426995  37.800873
4  2015-05-13 23:30:00   LARCENY/THEFT  ... -122.438738  37.771541

[5 rows x 9 columns]

train shape: (108590, 9)

   Id                Dates  ...           X          Y
0   0  2015-05-10 23:59:00  ... -122.399588  37.735051
1   1  2015-05-10 23:51:00  ... -122.391523  37.732432
2   2  2015-05-10 23:50:00  ... -122.426002  37.792212
3   3  2015-05-10 23:45:00  ... -122.437394  37.721412
4   4  2015-05-10 23:45:00  ... -122.437394  37.721412

[5 rows x 7 columns]

test shape: (143578, 7)

In [0]:
train_df = train_df.drop(columns=['Descript', 'Resolution'])
train_df.head()

                 Dates        Category  ...           X          Y
0  2015-05-13 23:53:00        WARRANTS  ... -122.425892  37.774599
1  2015-05-13 23:53:00  OTHER OFFENSES  ... -122.425892  37.774599
2  2015-05-13 23:33:00  OTHER OFFENSES  ... -122.424363  37.800414
3  2015-05-13 23:30:00   LARCENY/THEFT  ... -122.426995  37.800873
4  2015-05-13 23:30:00   LARCENY/THEFT  ... -122.438738  37.771541

[5 rows x 7 columns]

In [0]:
# lets see the statistics summary of locations
lons = train_df['X'] # longitudes 
lats = train_df['Y'] # latitudes

print "Longitudes summary:"
print lons.describe()
print "\nLatitudes summary:"
print lats.describe()

Longitudes summary:
count    108589.000000
mean       -122.423055
std           0.025748
min        -122.513642
25%        -122.433843
50%        -122.416558
75%        -122.406539
max        -122.365241
Name: X, dtype: float64

Latitudes summary:
count    108589.000000
mean         37.768413
std           0.023875
min          37.707922
25%          37.755296
50%          37.775421
75%          37.785063
max          37.819975
Name: Y, dtype: float64

In [0]:
# eliminate rows with latitudes out of San Francisco range
train_df = train_df.drop(train_df[(train_df['Y'] > 37.84) | (train_df['Y'] < 37.7)].index)
# eliminate rows with longitudes out of San Francisco range
train_df = train_df.drop(train_df[((train_df['X'] > -122.32) | (train_df['X'] < -122.52))].index)
train_df.describe()

                   X              Y
count  108589.000000  108589.000000
mean     -122.423055      37.768413
std         0.025748       0.023875
min      -122.513642      37.707922
25%      -122.433843      37.755296
50%      -122.416558      37.775421
75%      -122.406539      37.785063
max      -122.365241      37.819975

In [0]:
from collections import Counter

def printCategoriesOccurrence():
    
    categories = train_df['Category']
    # count the number of occurances for each category
    occurances = Counter(categories)
    sorted_occ = sorted(occurances.items(), key=lambda pair: pair[1], reverse=True)
    for key, value in sorted_occ:
        print key, value
    return sorted_occ
        
sorted_occ = printCategoriesOccurrence()

LARCENY/THEFT 28074
OTHER OFFENSES 14656
NON-CRIMINAL 13848
ASSAULT 9084
VEHICLE THEFT 5282
VANDALISM 5166
WARRANTS 4873
BURGLARY 4397
SUSPICIOUS OCC 3765
DRUG/NARCOTIC 3741
MISSING PERSON 3300
ROBBERY 2626
FRAUD 2185
SECONDARY CODES 1373
WEAPON LAWS 1140
TRESPASS 844
STOLEN PROPERTY 730
SEX OFFENSES FORCIBLE 580
FORGERY/COUNTERFEITING 535
DRUNKENNESS 432
KIDNAPPING 360
DRIVING UNDER THE INFLUENCE 262
PROSTITUTION 254
DISORDERLY CONDUCT 248
ARSON 192
RUNAWAY 146
LIQUOR LAWS 124
EMBEZZLEMENT 113
FAMILY OFFENSES 49
BRIBERY 46
SUICIDE 36
RECOVERED VEHICLE 36
LOITERING 29
EXTORTION 19
SEX OFFENSES NON FORCIBLE 17
BAD CHECKS 16
GAMBLING 9
TREA 3

In [0]:
import math
# if category size < 1000, duplicate it to be = 1000
for key,value in sorted_occ:
    if value<1000:
        
        temp = train_df[train_df['Category'] == key]
        train_df = train_df.append([temp]*int(math.ceil((1000-value)/float(value))), ignore_index=True)

sorted_occ = printCategoriesOccurrence()

LARCENY/THEFT 28074
OTHER OFFENSES 14656
NON-CRIMINAL 13848
ASSAULT 9084
VEHICLE THEFT 5282
VANDALISM 5166
WARRANTS 4873
BURGLARY 4397
SUSPICIOUS OCC 3765
DRUG/NARCOTIC 3741
MISSING PERSON 3300
ROBBERY 2626
FRAUD 2185
TRESPASS 1688
STOLEN PROPERTY 1460
SECONDARY CODES 1373
DRUNKENNESS 1296
DISORDERLY CONDUCT 1240
SEX OFFENSES FORCIBLE 1160
ARSON 1152
WEAPON LAWS 1140
LIQUOR LAWS 1116
KIDNAPPING 1080
FORGERY/COUNTERFEITING 1070
DRIVING UNDER THE INFLUENCE 1048
FAMILY OFFENSES 1029
RUNAWAY 1022
EMBEZZLEMENT 1017
PROSTITUTION 1016
LOITERING 1015
BRIBERY 1012
SUICIDE 1008
BAD CHECKS 1008
GAMBLING 1008
RECOVERED VEHICLE 1008
EXTORTION 1007
SEX OFFENSES NON FORCIBLE 1003
TREA 1002

In [0]:
# spliting train data into target and other features
target = train_df['Category']
data = train_df.drop(columns=['Category'])

In [0]:
features = ['Dates', 'DayOfWeek', 'PdDistrict', 'Address']
for feature in features:
    print "feature: {}    unique_size: {}".format(feature ,len(data[feature].unique()))

feature: Dates    unique_size: 47575
feature: DayOfWeek    unique_size: 7
feature: PdDistrict    unique_size: 10
feature: Address    unique_size: 14563

In [0]:
# convert given list of dates it will trim seconds, minutes and return result
def trimMinAndSecFromDates(dates):
    result = []
    for date in dates:
        result.append(date[:-6])
    return result

# trim minutes and seconds from dates
data['Dates'] = trimMinAndSecFromDates(data['Dates'])

# encode Dates using label encoding
data['Dates'] = data['Dates'].astype('category')
data['Dates_int'] = data['Dates'].cat.codes

# encode Address using label encoding
data['Address'] = data['Address'].astype('category')
data['Address_int'] = data['Address'].cat.codes

data.head()

           Dates  DayOfWeek PdDistrict  ...          Y  Dates_int  Address_int
0  2015-05-13 23  Wednesday   NORTHERN  ...  37.774599       6354        12831
1  2015-05-13 23  Wednesday   NORTHERN  ...  37.774599       6354        12831
2  2015-05-13 23  Wednesday   NORTHERN  ...  37.800414       6354        14309
3  2015-05-13 23  Wednesday   NORTHERN  ...  37.800873       6354         2984
4  2015-05-13 23  Wednesday       PARK  ...  37.771541       6354         1206

[5 rows x 8 columns]

In [0]:
data.drop(columns=['Dates', 'Address'], inplace=True)
data.head()

   DayOfWeek PdDistrict           X          Y  Dates_int  Address_int
0  Wednesday   NORTHERN -122.425892  37.774599       6354        12831
1  Wednesday   NORTHERN -122.425892  37.774599       6354        12831
2  Wednesday   NORTHERN -122.424363  37.800414       6354        14309
3  Wednesday   NORTHERN -122.426995  37.800873       6354         2984
4  Wednesday       PARK -122.438738  37.771541       6354         1206

In [0]:
# get dummies for each feature
DayOfWeek_dummies = pd.get_dummies(data['DayOfWeek'])
PdDistrict_dummies = pd.get_dummies(data['PdDistrict'])

# join dummies to the original dataframe
data = data.join(DayOfWeek_dummies)
data = data.join(PdDistrict_dummies)

data.head()

   DayOfWeek PdDistrict           X  ...  SOUTHERN  TARAVAL  TENDERLOIN
0  Wednesday   NORTHERN -122.425892  ...         0        0           0
1  Wednesday   NORTHERN -122.425892  ...         0        0           0
2  Wednesday   NORTHERN -122.424363  ...         0        0           0
3  Wednesday   NORTHERN -122.426995  ...         0        0           0
4  Wednesday       PARK -122.438738  ...         0        0           0

[5 rows x 23 columns]

In [0]:

data.drop(columns=['DayOfWeek', 'PdDistrict'], inplace=True)
print "data size =",len(data)
data.head()

data size = 128975

            X          Y  Dates_int  ...  SOUTHERN  TARAVAL  TENDERLOIN
0 -122.425892  37.774599       6354  ...         0        0           0
1 -122.425892  37.774599       6354  ...         0        0           0
2 -122.424363  37.800414       6354  ...         0        0           0
3 -122.426995  37.800873       6354  ...         0        0           0
4 -122.438738  37.771541       6354  ...         0        0           0

[5 rows x 21 columns]

In [0]:
import numpy as np
data[~data.isin([np.nan, np.inf, -np.inf]).any(1)].astype(np.float64)
data.replace([np.inf, -np.inf], np.nan)

                 X          Y  Dates_int  ...  SOUTHERN  TARAVAL  TENDERLOIN
0      -122.425892  37.774599       6354  ...         0        0           0
1      -122.425892  37.774599       6354  ...         0        0           0
2      -122.424363  37.800414       6354  ...         0        0           0
3      -122.426995  37.800873       6354  ...         0        0           0
4      -122.438738  37.771541       6354  ...         0        0           0
5      -122.403252  37.713431       6354  ...         0        0           0
6      -122.423327  37.725138       6354  ...         0        0           0
7      -122.371274  37.727564       6354  ...         0        0           0
8      -122.508194  37.776601       6354  ...         0        0           0
9      -122.419088  37.807802       6354  ...         0        0           0
10     -122.419088  37.807802       6353  ...         0        0           0
11     -122.487983  37.737667       6353  ...         0        1           0
12     -122.412414  37.783004       6353  ...         0        0           1
13     -122.432915  37.784353       6353  ...         0        0           0
14     -122.397744  37.729935       6353  ...         0        0           0
15     -122.383692  37.743189       6353  ...         0        0           0
16     -122.412597  37.783932       6353  ...         0        0           1
17     -122.421682  37.742822       6352  ...         0        0           0
18     -122.386401  37.738983       6352  ...         0        0           0
19     -122.412250  37.782556       6352  ...         0        0           1
20     -122.449389  37.742669       6352  ...         0        0           0
21     -122.420272  37.747332       6352  ...         0        0           0
22     -122.412250  37.782556       6352  ...         0        0           1
23     -122.412250  37.782556       6352  ...         0        0           1
24     -122.436049  37.799841       6352  ...         0        0           0
25     -122.410509  37.786043       6352  ...         0        0           1
26     -122.431018  37.787388       6352  ...         0        0           0
27     -122.423656  37.732556       6352  ...         0        0           0
28     -122.475773  37.744919       6352  ...         0        1           0
29     -122.499787  37.748518       6351  ...         0        1           0
...            ...        ...        ...  ...       ...      ...         ...
128945 -122.386105  37.760692       5157  ...         0        0           0
128946 -122.434995  37.760070        938  ...         0        0           0
128947 -122.419250  37.783807         58  ...         0        0           0
128948 -122.386105  37.760692       5157  ...         0        0           0
128949 -122.434995  37.760070        938  ...         0        0           0
128950 -122.419250  37.783807         58  ...         0        0           0
128951 -122.386105  37.760692       5157  ...         0        0           0
128952 -122.434995  37.760070        938  ...         0        0           0
128953 -122.419250  37.783807         58  ...         0        0           0
128954 -122.386105  37.760692       5157  ...         0        0           0
128955 -122.434995  37.760070        938  ...         0        0           0
128956 -122.419250  37.783807         58  ...         0        0           0
128957 -122.386105  37.760692       5157  ...         0        0           0
128958 -122.434995  37.760070        938  ...         0        0           0
128959 -122.419250  37.783807         58  ...         0        0           0
128960 -122.386105  37.760692       5157  ...         0        0           0
128961 -122.434995  37.760070        938  ...         0        0           0
128962 -122.419250  37.783807         58  ...         0        0           0
128963 -122.386105  37.760692       5157  ...         0        0           0
128964 -122.434995  37.760070        938  ...         0        0           0
128965 -122.419250  37.783807         58  ...         0        0           0
128966 -122.386105  37.760692       5157  ...         0        0           0
128967 -122.434995  37.760070        938  ...         0        0           0
128968 -122.419250  37.783807         58  ...         0        0           0
128969 -122.386105  37.760692       5157  ...         0        0           0
128970 -122.434995  37.760070        938  ...         0        0           0
128971 -122.419250  37.783807         58  ...         0        0           0
128972 -122.386105  37.760692       5157  ...         0        0           0
128973 -122.434995  37.760070        938  ...         0        0           0
128974 -122.419250  37.783807         58  ...         0        0           0

[128975 rows x 21 columns]

In [0]:
data.isnull().any()

X               True
Y               True
Dates_int      False
Address_int    False
Friday         False
Monday         False
Saturday       False
Sunday         False
Thursday       False
Tuesday        False
Wednesday      False
BAYVIEW        False
CENTRAL        False
INGLESIDE      False
MISSION        False
NORTHERN       False
PARK           False
RICHMOND       False
SOUTHERN       False
TARAVAL        False
TENDERLOIN     False
dtype: bool

In [0]:
data.dropna()

                 X          Y  Dates_int  ...  SOUTHERN  TARAVAL  TENDERLOIN
0      -122.425892  37.774599       6354  ...         0        0           0
1      -122.425892  37.774599       6354  ...         0        0           0
2      -122.424363  37.800414       6354  ...         0        0           0
3      -122.426995  37.800873       6354  ...         0        0           0
4      -122.438738  37.771541       6354  ...         0        0           0
5      -122.403252  37.713431       6354  ...         0        0           0
6      -122.423327  37.725138       6354  ...         0        0           0
7      -122.371274  37.727564       6354  ...         0        0           0
8      -122.508194  37.776601       6354  ...         0        0           0
9      -122.419088  37.807802       6354  ...         0        0           0
10     -122.419088  37.807802       6353  ...         0        0           0
11     -122.487983  37.737667       6353  ...         0        1           0
12     -122.412414  37.783004       6353  ...         0        0           1
13     -122.432915  37.784353       6353  ...         0        0           0
14     -122.397744  37.729935       6353  ...         0        0           0
15     -122.383692  37.743189       6353  ...         0        0           0
16     -122.412597  37.783932       6353  ...         0        0           1
17     -122.421682  37.742822       6352  ...         0        0           0
18     -122.386401  37.738983       6352  ...         0        0           0
19     -122.412250  37.782556       6352  ...         0        0           1
20     -122.449389  37.742669       6352  ...         0        0           0
21     -122.420272  37.747332       6352  ...         0        0           0
22     -122.412250  37.782556       6352  ...         0        0           1
23     -122.412250  37.782556       6352  ...         0        0           1
24     -122.436049  37.799841       6352  ...         0        0           0
25     -122.410509  37.786043       6352  ...         0        0           1
26     -122.431018  37.787388       6352  ...         0        0           0
27     -122.423656  37.732556       6352  ...         0        0           0
28     -122.475773  37.744919       6352  ...         0        1           0
29     -122.499787  37.748518       6351  ...         0        1           0
...            ...        ...        ...  ...       ...      ...         ...
128945 -122.386105  37.760692       5157  ...         0        0           0
128946 -122.434995  37.760070        938  ...         0        0           0
128947 -122.419250  37.783807         58  ...         0        0           0
128948 -122.386105  37.760692       5157  ...         0        0           0
128949 -122.434995  37.760070        938  ...         0        0           0
128950 -122.419250  37.783807         58  ...         0        0           0
128951 -122.386105  37.760692       5157  ...         0        0           0
128952 -122.434995  37.760070        938  ...         0        0           0
128953 -122.419250  37.783807         58  ...         0        0           0
128954 -122.386105  37.760692       5157  ...         0        0           0
128955 -122.434995  37.760070        938  ...         0        0           0
128956 -122.419250  37.783807         58  ...         0        0           0
128957 -122.386105  37.760692       5157  ...         0        0           0
128958 -122.434995  37.760070        938  ...         0        0           0
128959 -122.419250  37.783807         58  ...         0        0           0
128960 -122.386105  37.760692       5157  ...         0        0           0
128961 -122.434995  37.760070        938  ...         0        0           0
128962 -122.419250  37.783807         58  ...         0        0           0
128963 -122.386105  37.760692       5157  ...         0        0           0
128964 -122.434995  37.760070        938  ...         0        0           0
128965 -122.419250  37.783807         58  ...         0        0           0
128966 -122.386105  37.760692       5157  ...         0        0           0
128967 -122.434995  37.760070        938  ...         0        0           0
128968 -122.419250  37.783807         58  ...         0        0           0
128969 -122.386105  37.760692       5157  ...         0        0           0
128970 -122.434995  37.760070        938  ...         0        0           0
128971 -122.419250  37.783807         58  ...         0        0           0
128972 -122.386105  37.760692       5157  ...         0        0           0
128973 -122.434995  37.760070        938  ...         0        0           0
128974 -122.419250  37.783807         58  ...         0        0           0

[128974 rows x 21 columns]

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test =  train_test_split(data, target, test_size=0.2, random_state=0, stratify=target)
print "train size: {}, test size: {}".format(X_train.shape[0], X_test.shape[0])

train size: 103180, test size: 25795

In [0]:
target

0               WARRANTS
1         OTHER OFFENSES
2         OTHER OFFENSES
3          LARCENY/THEFT
4          LARCENY/THEFT
5          LARCENY/THEFT
6          VEHICLE THEFT
7          VEHICLE THEFT
8          LARCENY/THEFT
9          LARCENY/THEFT
10         LARCENY/THEFT
11        OTHER OFFENSES
12             VANDALISM
13         LARCENY/THEFT
14          NON-CRIMINAL
15          NON-CRIMINAL
16               ROBBERY
17               ASSAULT
18        OTHER OFFENSES
19          NON-CRIMINAL
20         LARCENY/THEFT
21               ROBBERY
22              WARRANTS
23          NON-CRIMINAL
24         LARCENY/THEFT
25          NON-CRIMINAL
26         LARCENY/THEFT
27         LARCENY/THEFT
28         LARCENY/THEFT
29        OTHER OFFENSES
               ...
128945              TREA
128946              TREA
128947              TREA
128948              TREA
128949              TREA
128950              TREA
128951              TREA
128952              TREA
128953              TREA
128954              TREA
128955              TREA
128956              TREA
128957              TREA
128958              TREA
128959              TREA
128960              TREA
128961              TREA
128962              TREA
128963              TREA
128964              TREA
128965              TREA
128966              TREA
128967              TREA
128968              TREA
128969              TREA
128970              TREA
128971              TREA
128972              TREA
128973              TREA
128974              TREA
Name: Category, Length: 128975, dtype: object


--------------
# Models Implementation

In [0]:
data.isnull().any()

X               True
Y               True
Dates_int      False
Address_int    False
Friday         False
Monday         False
Saturday       False
Sunday         False
Thursday       False
Tuesday        False
Wednesday      False
BAYVIEW        False
CENTRAL        False
INGLESIDE      False
MISSION        False
NORTHERN       False
PARK           False
RICHMOND       False
SOUTHERN       False
TARAVAL        False
TENDERLOIN     False
dtype: bool

In [0]:
from sklearn.metrics import log_loss, fbeta_score
from time import time

# train function takes learner, the train data and target
def train_test_pipeline(learner, X_train, y_train, X_test, y_test):
    
    results = {}
    
    # training learner
    start = time()
    learner.fit(X_train, y_train)
    end = time()
    results['train_time'] = end - start
    
    # predict samples in training set
    predictions = learner.predict(X_train)
    predictions_proba = learner.predict_proba(X_train)
    
    # calculate fbeta and log loss
    results['fscore'] = fbeta_score(y_train, predictions, beta=.5, average='micro')
    results['logloss'] = log_loss(y_train, predictions_proba)
    #results['accuracy']=accuracy_score(y_train,predictions_proba)
    
    # predict testing samples and time of prediction
    start = time()
    predictions = learner.predict(X_test)
    predictions_proba = learner.predict_proba(X_test)
    end = time()
    results['test_time'] = end - start
    
    # calculate fbeta and log loss for testing set
    results['fscore_test'] = fbeta_score(y_test, predictions, beta=.5, average='micro')
    results['logloss_test'] = log_loss(y_test, predictions_proba)
    #results['accuracy']=accuracy_score(y_test)
    
    
    print "{} trained".format(learner.__class__.__name__)
    
    return results

# do train_test_pipeline then visualize resutls for given models on first n samples and test on first m
# returns predictions proba for last model in given list - this will be used for 1 model only -
def train_test_models(models, names=None, n=len(y_train), m=len(y_test)):
    results = {}
    i = 0
    for model in models:
        if not names:
            model_name = model.__class__.__name__
        else:
            model_name = names[i]
            i += 1
        results[model_name] = train_test_pipeline(model, X_train[:n], y_train[:n], X_test[:m], y_test[:m])

    # print results
    for model in results:
        model_res = results[model]
        print "model: {}".format(model)
        print "fscore:\t\t{}\nlogloss:\t{}\ntrain time:\t{}".format(model_res['fscore'], model_res['logloss'], model_res['train_time'])
        print "fscore_test:\t\t{}\nlogloss_test:\t{}\ntest time:\t{}".format(model_res['fscore_test'], model_res['logloss_test'], model_res['test_time'])
                                                                                                                                                                   
    # visualize the results    
    visualize(results, random_results)

In [0]:
import matplotlib.pyplot as plt
def visualize(results, random_results):
    bar_width = 0.3
    fig, ax = plt.subplots(6,1,figsize = (12,32))
    for j, metric in enumerate(['train_time', 'fscore', 'logloss', 'test_time', 'fscore_test', 'logloss_test']):
        ax[j].set_xlabel("Learners")
        ax[j].set_ylabel(metric)
        ax[j].set_title(metric)
        for k, learner in enumerate(results.keys()):
            ax[j].bar(learner, results[learner][metric], width=bar_width)
    
    # add horizontal line for random model results
    ax[0].axhline(y=random_results['train_time'], linestyle='dashed')
    ax[1].axhline(y=random_results['fscore'], linestyle='dashed')
    ax[2].axhline(y=random_results['logloss'], linestyle='dashed')  
    ax[3].axhline(y=random_results['test_time'], linestyle='dashed')
    ax[4].axhline(y=random_results['fscore_test'], linestyle='dashed')
    ax[5].axhline(y=random_results['logloss_test'], linestyle='dashed')

In [0]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC 
from xgboost import XGBClassifier

# initializing models
model_KNN = KNeighborsClassifier(n_jobs=-1, weights='distance')
model_tree = DecisionTreeClassifier(class_weight='balanced')
model_extraTrees = ExtraTreesClassifier(n_jobs=-1, class_weight='balanced')
model_NN = MLPClassifier(learning_rate='invscaling', shuffle=True)
model_SVC = SVC(probability=True, class_weight='balanced') # One-to-One
model_XGB = XGBClassifier(one_drop=1)

In [0]:
models = [model_KNN, model_tree, model_extraTrees, model_NN, model_SVC, model_XGB]
train_test_models(models, n=10000, m=2000)

KNeighborsClassifier trained
DecisionTreeClassifier trained

/usr/local/lib/python2.7/dist-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

ExtraTreesClassifier trained
MLPClassifier trained

/usr/local/lib/python2.7/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC trained
XGBClassifier trained
model: ExtraTreesClassifier
fscore:		0.9736
logloss:	0.0550738980371
train time:	0.361157894135
fscore_test:		0.2675
logloss_test:	17.0771531634
test time:	0.258663892746
model: MLPClassifier
fscore:		0.0603
logloss:	14.9206220628
train time:	10.6647369862
fscore_test:		0.0565
logloss_test:	15.3871626984
test time:	0.0150709152222
model: KNeighborsClassifier
fscore:		0.9737
logloss:	0.0428938082961
train time:	0.0316638946533
fscore_test:		0.231
logloss_test:	19.5317894149
test time:	0.274747133255
model: SVC
fscore:		0.52
logloss:	2.15520985916
train time:	135.376808167
fscore_test:		0.2045
logloss_test:	2.50124601006
test time:	2.96895909309
model: DecisionTreeClassifier
fscore:		0.9736
logloss:	0.0550738980371
train time:	0.159767866135
fscore_test:		0.223
logloss_test:	26.6441622051
test time:	0.00437808036804
model: XGBClassifier
fscore:		0.3413
logloss:	2.25560520508
train time:	26.423486948
fscore_test:		0.2745
logloss_test:	2.61488236218
test time:	1.77557611465

NameError: ignored

In [0]:
# training other models on all data
models = [model_KNN, model_tree, model_NN]
train_test_models(models,n=20000,m=2000)

KNeighborsClassifier trained
DecisionTreeClassifier trained
MLPClassifier trained
model: MLPClassifier
fscore:		0.11345
logloss:	12.0021748061
train time:	13.2750358582
fscore_test:		0.118
logloss_test:	11.9191732239
test time:	0.0149960517883
model: DecisionTreeClassifier
fscore:		0.95585
logloss:	0.0924288794633
train time:	0.303858995438
fscore_test:		0.2685
logloss_test:	25.088081936
test time:	0.0045862197876
model: KNeighborsClassifier
fscore:		0.95625
logloss:	0.0828239408596
train time:	0.0580790042877
fscore_test:		0.266
logloss_test:	19.0272588872
test time:	0.27953004837

NameError: ignored

In [0]:
model_NN_tuned = MLPClassifier(learning_rate='adaptive', shuffle=True, epsilon=1e-8, activation='relu',
                               hidden_layer_sizes=100, solver='adam', verbose=True)

models = [model_NN_tuned]
train_test_models(models,n=20000,m=4000)

Iteration 1, loss = 18.85295749
Iteration 2, loss = 14.18605015
Iteration 3, loss = 13.32722248
Iteration 4, loss = 12.84552015
Iteration 5, loss = 12.36851914
Iteration 6, loss = 11.49575273
Iteration 7, loss = 11.31226309
Iteration 8, loss = 12.02315459
Iteration 9, loss = 11.90653155
Iteration 10, loss = 12.18523535
Iteration 11, loss = 11.77750621
Iteration 12, loss = 11.14393207
Iteration 13, loss = 11.47609341
Iteration 14, loss = 11.10103096
Iteration 15, loss = 11.45118846
Iteration 16, loss = 10.90116272
Iteration 17, loss = 11.52739732
Iteration 18, loss = 10.74213929
Iteration 19, loss = 10.52611212
Iteration 20, loss = 11.07520942
Iteration 21, loss = 10.87329391
Iteration 22, loss = 10.79140038
Iteration 23, loss = 9.99738941
Iteration 24, loss = 10.28830421
Iteration 25, loss = 10.81230654
Iteration 26, loss = 10.28445440
Iteration 27, loss = 9.41573202
Iteration 28, loss = 10.72988034
Iteration 29, loss = 11.06218767
Iteration 30, loss = 9.60945015
Iteration 31, loss = 9.85576658
Iteration 32, loss = 9.16867568
Iteration 33, loss = 9.88325214
Iteration 34, loss = 10.20554617
Iteration 35, loss = 9.89669409
Iteration 36, loss = 9.98075170
Iteration 37, loss = 8.92730438
Iteration 38, loss = 9.55879509
Iteration 39, loss = 9.73167007
Iteration 40, loss = 9.35291646
Iteration 41, loss = 9.98722198
Iteration 42, loss = 8.98346540
Iteration 43, loss = 8.12235644
Iteration 44, loss = 8.96734177
Iteration 45, loss = 8.59032947
Iteration 46, loss = 8.47957372
Iteration 47, loss = 9.49262966
Iteration 48, loss = 8.70650666
Iteration 49, loss = 9.15882548
Iteration 50, loss = 9.32478613
Iteration 51, loss = 8.64535397
Iteration 52, loss = 9.20030300
Iteration 53, loss = 8.47589943
Iteration 54, loss = 9.70045175
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
MLPClassifier trained
model: MLPClassifier
fscore:		0.1666
logloss:	12.4277998265
train time:	12.1826710701
fscore_test:		0.15775
logloss_test:	12.5877030559
test time:	0.0285549163818

NameError: ignored

In [0]:
model_KNN = KNeighborsClassifier(n_jobs=-1, weights='distance')
X=X_train.iloc[0:30000]
y=y_train.iloc[0:30000]
model_KNN.fit(X_train,y_train)
print("knn training accuracy",model_KNN.score(X,y))
print(model_KNN.predict(X))
model_tree.fit(X,y)
print("training accuracy",model_tree.score(X,y))
model_extraTrees.fit(X,y)
print("training accuracy EXTRATREES",model_extraTrees.score(X,y))
model_SVC.fit(X,y)
print("training accuracy",model_SVC.score(X,y))
model_XGB.fit(X,y)
print("training accuracy XGB",model_XGB.score(X,y))

ValueError: ignored

In [0]:
model_NN_tuned.fit(X,y)
print("knn training accuracy",model_NN_tuned.score(X,y))

Iteration 1, loss = 20.89009285
Iteration 2, loss = 15.77175473
Iteration 3, loss = 12.30390350
Iteration 4, loss = 11.29046754
Iteration 5, loss = 11.34858658
Iteration 6, loss = 10.54235110
Iteration 7, loss = 10.01439615
Iteration 8, loss = 11.89529085
Iteration 9, loss = 10.77447945
Iteration 10, loss = 11.41029494
Iteration 11, loss = 11.23745147
Iteration 12, loss = 9.67094348
Iteration 13, loss = 11.50474569
Iteration 14, loss = 11.75151273
Iteration 15, loss = 11.16015303
Iteration 16, loss = 9.40191999
Iteration 17, loss = 9.89947861
Iteration 18, loss = 10.32547720
Iteration 19, loss = 10.43944047
Iteration 20, loss = 9.09566135
Iteration 21, loss = 10.11058355
Iteration 22, loss = 10.15054625
Iteration 23, loss = 8.96229171
Iteration 24, loss = 8.55226502
Iteration 25, loss = 8.59394766
Iteration 26, loss = 8.89056175
Iteration 27, loss = 8.47083095
Iteration 28, loss = 7.39601415
Iteration 29, loss = 7.97685678
Iteration 30, loss = 9.12716971
Iteration 31, loss = 8.22285776
Iteration 32, loss = 10.12724406
Iteration 33, loss = 9.39174338
Iteration 34, loss = 9.65274330
Iteration 35, loss = 9.54671333
Iteration 36, loss = 7.40258743
Iteration 37, loss = 6.94928793
Iteration 38, loss = 7.05331589
Iteration 39, loss = 6.02188744
Iteration 40, loss = 8.06674398
Iteration 41, loss = 7.00517716
Iteration 42, loss = 8.18190220
Iteration 43, loss = 9.44463124
Iteration 44, loss = 7.12862023
Iteration 45, loss = 7.42148901
Iteration 46, loss = 8.28484664
Iteration 47, loss = 7.04925752
Iteration 48, loss = 6.25013057
Iteration 49, loss = 7.76611754
Iteration 50, loss = 7.64634112
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
('knn training accuracy', 0.0921)